/* Body */

body{

    background-color: var(--black);

}


/* Nav Bar */

.navbar{

    background-color: var(--gray);
    transition: 0.5s;
    transition-delay: 0.2s;

}



.nav-link{

    color: var(--green);
    margin-right: 20px;

}

.navbar-collapse{

    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: var(--green); /* Cor do texto */
    text-shadow: 
      0 0 5px var(--green), /* Brilho branco */
      0 0 10px var(--green), 
      0 0 15px var(--green); /* Cor do brilho */
    

}

.navbar-collapse a:hover{

    border: solid 2px var(--green);
    border-radius: 10px;
    color: var(--white);
    /* transition: 0.5s; */
    color: white; /* Cor do texto */
    text-shadow: 
      0 0 5px #fff, /* Brilho branco */
      0 0 10px #fff, 
      0 0 15px #ffffff; /* Cor do brilho */

}

.navbar-brand{

    color: var(--white);
    color: white; /* Cor do texto */
    text-shadow: 
      0 0 5px #fff, /* Brilho branco */
      0 0 10px #fff, 
      0 0 15px #ffffff; /* Cor do brilho */

}

.navbar-toggler{

    background-color: var(--black);
    /* border-color: var(--green); */
    border-color: var(--green); /* Cor do texto */
    text-shadow: 
      0 0 5px var(--green), /* Brilho branco */
      0 0 10px var(--green), 
      0 0 15px var(--green); /* Cor do brilho */


}