/* Body */

body{

  background-color: var(--white);
    /* background: url(../images/background.jpg); */
  position: relative;
  margin: 0;
  height: 100vh; /*Altura da tela*/

}


/* Nav Bar */

.navbar{

  position: fixed;
  background-color: transparent;
  transition: 0.5s;
  transition-delay: 0.2s;
  height: 85px;
  z-index: 10;

}



.nav-link{

    color: var(--black);

}

.navbar-collapse{

    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: var(--white); /* Cor do texto */
    text-shadow: 
      0 0 5px var(--black), /* Brilho branco */
      0 0 10px var(--black), 
      0 0 15px var(--black); /* Cor do brilho */    

}

.navbar-collapse a{

  transition: 0.3s;

}

.navbar-collapse a:hover{

    border-bottom: solid 2px var(--blue);
    border-radius: 4px;
    color: var(--blue);
    transform: scale(1.08);
    /* transition: 0.3s; */
    color: var(--blue); /* Cor do texto */
    text-shadow: 
      0 0 5px var(--blue), /* Brilho branco */
      0 0 10px var(--blue), 
      0 0 15px var(--blue); /* Cor do brilho */

}

.navbar-collapse a:not(:hover){

  transition-delay: 0.3s; /* Atraso ao sair do hover */

}

.navbar-brand{

    color: var(--black);
    color: var(--black); /* Cor do texto */
    text-shadow: 
      0 0 5px var(--black), /* Brilho branco */
      0 0 10px var(--black), 
      0 0 15px var(--black); /* Cor do brilho */
    font-size: 25px;
    /* padding-left: 10px; */

}



.navbar-brand:hover{

    color: var(--blue);
    color: var(--blue); /* Cor do texto */
    border-bottom: solid 2px var(--blue);
    border-radius: 5px;
    transform: scale(1.05);
    transition: 0.3s;
    text-shadow: 
      0 0 5px var(--blue), /* Brilho branco */
      0 0 10px var(--blue), 
      0 0 15px var(--blue); /* Cor do brilho */
    font-size: 25px;
    /* padding-left: 10px; */

}

.navbar-toggler{

    background-color: var(--black);
    /* border-color: var(--green); */
    border-color: var(--green); /* Cor do texto */
    text-shadow: 
      0 0 5px var(--green), /* Brilho branco */
      0 0 10px var(--green), 
      0 0 15px var(--green); /* Cor do brilho */


}


.div1{
  position: absolute; /*Permite posicionamento livre*/
  top: 0; /* Posiciona no topo */
  left: 0; /* Posiciona à direita */
  background-color: transparent;    
  text-align: center;
  width: 0;
  height: 0;
  border-top: 500px solid transparent;
  border-bottom: 500px solid transparent;
  border-left:  1000px solid #4CAF50;
}